@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-light: #f9f9f9;
  --body-dark: #00193b;
  --widget-light: #ffffff;
  --widget-dark: #031123;
  --header-light: #00193b;
  --header-dark: #d8e9ff;
  --text-light: #515c6b;
  --text-dark: #e2e1e1;
  --accent-light: #035ecf;
  --accent-dark: #4f89fc;
  --highlight-dark: #273241;
  --input-border-light: #e2e1e1;
  --input-border-dark: #354585;
  --border-light: #f1f1f1;
  --border-dark: rgba(53, 69, 133, 0.4);
  --gray: #8d8d99;
  --label: #6e757f;
  --red: #ff5470;
  --green: #00ba9d;
  --yellow: #f8d518;
  --orange: #ff6900;
  --shadow-light: 0px 3px 14px rgba(226, 225, 225, 0.75);
  --shadow-dark: 0px 3px 14px #00285d;
  --shadow-glass: inset 1px 1px 2px #ffffff, inset -2px -2px 2px #003a31;
  --radial-blue: radial-gradient(
      59.32% 59.32% at 50% 31.83%,
      rgba(62, 128, 211, 0.77) 0%,
      rgba(1, 40, 90, 0.77) 100%
    ),
    #00193b;
  --linear-sky: linear-gradient(
      44deg,
      rgba(190, 250, 241, 0.13) 0%,
      rgba(3, 94, 207, 0.2) 100%
    ),
    #fff;
  --linear-blue: linear-gradient(
    50.81deg,
    #00214d 6.78%,
    #3e80d3 65.48%,
    #01285a 101.42%
  );
  --linear-sm-light: linear-gradient(177deg, #00193b 0%, #035ecf 100%);
  --linear-sm-dark: linear-gradient(177deg, #5fa3ff 0%, #035ecf 100%);
  --glass: linear-gradient(
    134.73deg,
    rgba(1, 88, 83, 0.0001) 32.33%,
    rgba(0, 112, 117, 0.186708) 79.27%
  );
  --body-font: "Archivo", sans-serif;
  --heading-font: "Archivo SemiExpanded", sans-serif;
  --transition: 0.3s ease-in-out;
  --element-height: 44px;
}

@layer base {
  @font-face {
    font-family: "Archivo SemiExpanded";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/archivo/Archivo_SemiExpanded-Bold.woff2") format("woff2"),
      url("./fonts/archivo/Archivo_SemiExpanded-Bold.woff") format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Archivo SemiExpanded";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("./fonts/archivo/Archivo_SemiExpanded-Medium.woff2")
        format("woff2"),
      url("./fonts/archivo/Archivo_SemiExpanded-Medium.woff") format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Archivo SemiExpanded";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("./fonts/archivo/Archivo_SemiExpanded-SemiBold.woff2")
        format("woff2"),
      url("./fonts/archivo/Archivo_SemiExpanded-SemiBold.woff") format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/archivo/Archivo-Bold.woff2") format("woff2"),
      url("./fonts/archivo/Archivo-Bold.woff") format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("./fonts/archivo/Archivo-Medium.woff2") format("woff2"),
      url("./fonts/archivo/Archivo-Medium.woff") format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("./fonts/archivo/Archivo-Regular.woff2") format("woff2"),
      url("./fonts/archivo/Archivo-Regular.woff") format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }
}

@layer components {
  .triangle {
    @apply before:absolute
      before:w-20
      before:h-10
      before:left-1/2 
      before:top-[-20px] 
      before:translate-x-[-50%] 
      after:absolute 
      after:w-0 
      after:h-0 
      after:left-1/2 
      after:top-[-8px] 
      after:translate-x-[-50%] 
      after:border-l-transparent
      after:border-r-transparent
      after:border-l-[4px]
      after:border-b-[8px] 
      after:border-r-[4px] 
      after:shadow-[--menu-shadow];
  }

  .notification-status {
    @apply before:absolute before:w-[12px] before:h-[12px] before:rounded-full before:border-[2px] before:top-1 before:right-0 before:border-slate-100;
  }
}
